$background-colour: #CBD0DA;
$font-colour: #333333;

body {
  background: white;
  color: $font-colour;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: $background-colour;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid $background-colour;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
  border-radius: 5px;

}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: $background-colour;
  height: 70px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  font-family: 'Kalam', cursive;
  z-index: inherit;
    -webkit-box-shadow: 2px -7px 81px;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 41px;
  height: 60px;
  line-height: 76px;
  padding: 0 10px;
  text-decoration: none;
}

.online-users {
  float: right;
  font-size: 21px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.logo {
  height: 40px;
  float: left;
  margin: 5px;
  margin-top: 16px;
}


